<div class="p-3 mb-2 bg-info text-dark">
  <%= link_to "TestGuru", tests_path %><br> 
  <%= t('.admin_panel')%>
  <%= t('.welcome') %>, <%= current_user.email %>
  <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
</div>    
