<h1> <%= t(".admin_message") %></h1>
    
<p>    
  <%= form_with url: feed_back_index_path, local: true, method: :post do |form| %>
    <p>
      <%= form.text_area :message, placeholder: t(".message"), size: "50x5", required: true %>
    </p>
    <%= form.submit t(".send") %>
  <% end %>
</p>

<p>      
  <% if current_user.is_a?(Admin) %>
    <%= link_to t(".back"), admin_tests_path %>
  <% else %>
    <%= link_to t(".back"), tests_path %>
  <% end %>
</p>