<div class="footer"> 
  <ul> 
    <li><%= this_year %> Slapoguzov Aleksandr, <%= github_url("Aleksandr-Slap", "TestGuru") %> </li>
    <li>TestGuru - <%= t(".progect") %></li>
    <li><a href="https://thinknetica.com/"><%= t(".description") %></a></li>
    <li><%= link_to t(".feedback"), new_feed_back_path %> </li>
    <li><%= link_to t(".badges"), badges_path %></li>  
  </ul>      
</div>     