<h1><%= @test.title %></h1>
<h2><%= t('.level') %> <%= @test.level %></h2><br>
<%= link_to t('.new_test'), new_admin_test_question_path(@test)%>

<ol>
  <%= render @test.questions %>
</ol>   

<%= link_to t('.edit'), edit_admin_test_path(@test) %> |
<%= link_to t('.back'), admin_tests_path %>
</table>