<%= form_with model: @test do |form| %>

  <%= render "shared/errors", resource: @test %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %><br>
    <%= form.label :level %><br>
    <%= form.number_field :level %><br>
    <%= form.label :category_id %>:
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %><br>
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, User.all, :id, :name, prompt: true %>

  </p>
  
  <p><%= form.submit %></p> 
<% end %>